// See https://github.com/just-the-docs/just-the-docs/tree/main/_sass/support/_variables.scss

//
// Colors
//

$link-color: $red-000;
$btn-primary-color: $red-000;


//
// Grid system
//

$nav-width: 360px;
$nav-width-md: 300px;

$content-width: 800px !default;
$header-height: 60px !default;
